<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kevmartal.gamequiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameQuiz.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".RandomImagePage"
            android:parentActivityName=".Main"
            android:label="Juegos Randoms"
            android:theme="@style/TemaPruebaNice"
            android:exported="false" />
        <activity
            android:name=".TerrorPage"
            android:parentActivityName=".Main"
            android:label="Juegos de Terror"
            android:theme="@style/TemaPruebaNice"
            android:exported="false" />
        <activity
            android:name=".ZombiesPage"
            android:parentActivityName=".Main"
            android:label="Juegos de Zombies"
            android:theme="@style/TemaPruebaNice"
            android:exported="false" />
        <activity
            android:name=".RockstarPage"
            android:parentActivityName=".Main"
            android:label="Juegos de Rockstar"
            android:theme="@style/TemaPruebaNice"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="true"
            android:parentActivityName=".Main"
            android:label="Juegos de Acción"
            android:theme="@style/TemaPruebaNice"/>
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".Main"
            android:exported="true" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>